[Unit]
Description=GROW
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/home/USER/.bun/bin/bun /home/USER/grow/server.ts

[Install]
WantedBy=multi-user.target